.profile__edit-button {
    padding: 0;
    grid-area: edit;
    background-image: url('../../../images/profile-edit-button.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 24px;
    background-color: #000;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity .3s;
    align-self: center;
    justify-self: center;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width:568px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 8px;
        right: -28px;
    }
}